@import "~bootstrap/scss/bootstrap";
@import "../../../vendor/fortawesome/font-awesome/css/all.css";
@import "themeColors.scss";

$bdr-one: rgba(theme-color("one"), .2);
$shdw-one: rgba(theme-color("one"), .5);
$bdr-two: rgba(theme-color("two"), .2);
$shdw-two: rgba(theme-color("two"), .5);
$bdr-three: rgba(theme-color("three"), .2);
$shdw-three: rgba(theme-color("three"), .5);
$bdr-four: rgba(theme-color("four"), .2);
$shdw-four: rgba(theme-color("four"), .5);
$bdr-five: rgba(theme-color("five"), .2);
$shdw-five: rgba(theme-color("five"), .5);
$bdr-six: rgba(theme-color("six"), .2);
$shdw-six: rgba(theme-color("six"), .5);

@mixin button-values($color_name){
    color: theme-color-level($color_name, -10) !important;
    background-color: theme-color($color_name) !important;
    border-color: theme-color($color_name) !important;
}
@mixin button-hover($color_name){
    color: theme-color-level($color_name, -10) !important;
    background-color: theme-color-level($color_name, -2) !important;
    border-color: theme-color($color_name) !important;
}

@mixin button-dark-values($color_name){
    color: theme-color-level($color_name, -5) !important;
    background-color: theme-color-level($color_name, +5) !important;
    border-color: theme-color-level($color_name, +5) !important;
}
@mixin button-dark-hover($color_name){
    color: theme-color-level($color_name, -5) !important;
    background-color: theme-color-level($color_name, +3) !important;
    border-color: theme-color-level($color_name, +5) !important;
}

@mixin button-outline-values($color_name){
    color: theme-color($color_name) !important;
    background-color: transparent !important;
    border-color: theme-color($color_name) !important;
}
@mixin button-outline-hover($color_name){
    @include button-values($color_name);
}

@mixin button-outline-dark-values($color_name){
    color: theme-color-level($color_name, +5) !important;
    background-color: transparent !important;
    border-color: theme-color-level($color_name, +5) !important;
}
@mixin button-outline-dark-hover($color_name){
    @include button-dark-values($color_name);
}

@mixin button-focus-dark($color_name){
    box-shadow: 0 0 0 0.2rem rgba(theme-color-level($color_name, +5), .5) !important;
}

@mixin button-focus($color_name){
    box-shadow: 0 0 0 0.2rem rgba(theme-color($color_name), .5) !important;
}

li.disabled .btn{
    pointer-events: none;
    opacity: 0.65;
}


@each $color_name in $theme_colors_list {
    .bg-#{$color_name}{background-color: theme-color($color_name) !important;}
    .bg-#{$color_name}.dark{background-color: theme-color-level($color_name, +5) !important;}
    .bg-#{$color_name}.light{background-color: theme-color-level($color_name, -5) !important;}
    .bg-#{$color_name}.vdark{background-color: theme-color-level($color_name, +10) !important;}
    .bg-#{$color_name}.vlight{background-color: theme-color-level($color_name, -10) !important;}

    @for $i from 1 through 10 {
        .bg-#{$color_name}.op-#{$i}{background-color: rgba(theme-color($color_name),$i/10) !important;}
        .bg-#{$color_name}.dark.op-#{$i}{background-color: rgba(theme-color-level($color_name, +5),$i/10) !important;}
        .bg-#{$color_name}.light.op-#{$i}{background-color: rgba(theme-color-level($color_name, -5),$i/10) !important;}
        .bg-#{$color_name}.vdark.op-#{$i}{background-color: rgba(theme-color-level($color_name, +10),$i/10) !important;}
        .bg-#{$color_name}.vlight.op-#{$i}{background-color: rgba(theme-color-level($color_name, -10),$i/10) !important;}
    }


    .text-#{$color_name}{color: theme-color($color_name) !important;}
    .text-#{$color_name}.dark{color: theme-color-level($color_name, +5) !important;}
    .text-#{$color_name}.light{color: theme-color-level($color_name, -5) !important;}
    .text-#{$color_name}.vdark{color: theme-color-level($color_name, +10) !important;}
    .text-#{$color_name}.vlight{color: theme-color-level($color_name, -10) !important;}

    .link-#{$color_name}{color: theme-color($color_name) !important;}
    .link-#{$color_name}.dark{color: theme-color-level($color_name, +5) !important;}
    .link-#{$color_name}.light{color: theme-color-level($color_name, -5) !important;}
    .link-#{$color_name}.vdark{color: theme-color-level($color_name, +10) !important;}
    .link-#{$color_name}.vlight{color: theme-color-level($color_name, -10) !important;}

    .link-#{$color_name}:hover{
        color: theme-color-level($color_name, -5) !important;
         text-decoration: none;
    }
    .link-#{$color_name}:hover.dark{color: theme-color($color_name) !important;}
    .link-#{$color_name}:hover.light{color: theme-color($color_name) !important;}
    .link-#{$color_name}:hover.vdark{color: theme-color-level($color_name, +5) !important;}
    .link-#{$color_name}:hover.vlight{color: theme-color-level($color_name, -5) !important;}

    .btn-#{$color_name}{
        @include button-values($color_name);
    }
    .btn-#{$color_name}:focus, .btn-#{$color_name}.focus {
        @include button-focus($color_name);
    }
    .btn-#{$color_name}:hover {
        @include button-hover($color_name);
    }
    .btn-#{$color_name}.dark{
        @include button-dark-values($color_name);
    }
    .btn-#{$color_name}:focus.dark, .btn-#{$color_name}.focus.dark {
        @include button-focus-dark($color_name);
    }
    .btn-#{$color_name}:hover.dark {
        @include button-dark-hover($color_name);
    }
    .btn-outline-#{$color_name}{
        @include button-outline-values($color_name);
    }
    .btn-outline-#{$color_name}:focus, .btn-#{$color_name}.focus {
        @include button-focus($color_name);
    }
    .btn-outline-#{$color_name}:hover {
        @include button-outline-hover($color_name);
    }
    .btn-outline-#{$color_name}.active {
        @include button-focus($color_name);
        @include button-outline-hover($color_name);
    }
    .btn-outline-#{$color_name}.dark{
        @include button-outline-dark-values($color_name);
    }
    .btn-outline-#{$color_name}:focus.dark, .btn-#{$color_name}.focus.dark {
        @include button-focus-dark($color_name);
    }
    .btn-outline-#{$color_name}:hover.dark {
        @include button-outline-dark-hover($color_name);
    }
    .btn-outline-#{$color_name}.active.dark {
        @include button-focus-dark($color_name);
        @include button-outline-dark-hover($color_name);
    }
    .shdw-#{$color_name}{box-shadow: rgba(theme-color($color_name), .5) !important;}
    .bdr-#{$color_name}{border-color: theme-color($color_name) !important;}
    .bdr-#{$color_name}.dark{border-color: theme-color-level($color_name, +5) !important;}
    .bdr-#{$color_name}.light{border-color: theme-color-level($color_name, -5) !important;}
    .bdr-#{$color_name}.vdark{border-color: theme-color-level($color_name, +10) !important;}
    .bdr-#{$color_name}.vlight{border-color: theme-color-level($color_name, -10) !important;}
}

@for $i from 1 through 10 {
    .font-size-#{$i}{
        font-size: 0em +$i;
    }
}

.popover.show{
    border: 1px solid $bdr-three;
    color: theme-color-level("three", +2);
    border-radius: .3rem;
}
.popover .arrow::before{
    border-right-color: $bdr-three;
}
.popover .arrow::after{
    border-right-color:theme-color-level("three", -12);
}
.popover .popover-header{
    background-color: theme-color-level("three", -10);
    border-bottom-color: theme-color-level("three", -8);
}
.popover .popover-body{
    background-color: theme-color-level("three", -12);
    color: theme-color-level("three", +5);
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.btn{
    cursor: pointer;
}




