@import "baseTheme.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body{
}

/* Header Stuff */
#headerContainer{
    height: 40px;
}
.navbar{
    height: 40px;
}
#siteLogo img{
    max-height: 30px;
}
#headerLinks.show ul#headerLinksList{
    float: right;
    max-width: 80px;
    z-index: 999999;
    position: fixed;
    right: 15px;
    background-color: rgba(theme-color-level('three', +10),.9) !important;
}
#headerLinks.collapsing {
    transition: none !important;
}

ul#headerLinksList{
    list-style-type: none;
}
.header-link-text{
    font-size: 12px;
    border-bottom: 2px solid theme-color('three');
}
a.nav-link:hover .header-link-text{
    border-color: theme-color-level('six', -5);
}
a.nav-link{
    line-height: 1;
    width: 60px;
    z-index: 999999;
}
a.nav-link.header-links-active{
    cursor:default;
}
a.nav-link.header-links-active .header-link-text{
    border-color: theme-color-level('one', -5);
}
/* Body Stuff */

#profileDomWrapper{
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.transition-group{
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
}
.content-element{
    height: 100%;
    overflow-y: scroll;
}
@media (min-width: 1200px) {
    .section-title{
        font-size: 5em;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section-title{
        font-size: 5em;
    }

}
@media (min-width: 768px)and (max-width: 992px) {
    .section-title{
        font-size: 4em;
    }
}

@media (min-width: 480px) and (max-width: 768px){

    .section-title{
        font-size: 3em;
    }
}
@media (max-width: 480px){

    .section-title{
        font-size: 2em;
    }
}

// Personal
@media (min-width: 1200px) {
    .resume-name{
        font-size: 1.75rem;
    }
    .resume-background{
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .resume-name{
        font-size: 1.75rem;
    }
    .resume-background{
        font-size: 1rem;
    }

}
@media (min-width: 768px)and (max-width: 992px) {
    .resume-name{
        font-size: 1.5rem;
    }
    .resume-background{
        font-size: .9rem;
    }
}
@media (min-width: 480px) and (max-width: 768px){

    .resume-name{
        font-size: 1.5rem;
    }
    .resume-background{
        font-size: .9rem;
    }
}
@media (min-width: 380px) and (max-width: 480px){
    .resume-name{
        font-size: 1.25rem;
    }
    .resume-background{
        font-size: .8rem;
    }
}

@media (max-width: 380px){
    .resume-name{
        font-size: 1rem;
    }
    .resume-background{
        font-size: .75rem;
    }
}


// History

@media (min-width: 1200px) {
    .history-name{
        font-size: 1.75rem;
    }
    .history-description{
        font-size: 1rem;
    }
    .history-skills{
        font-size: 80%;
    }
    .history-time{
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .history-name{
        font-size: 1.75rem;
    }
    .history-description{
        font-size: 1rem;
    }
    .history-skills{
        font-size: 80%;
    }
    .history-time{
        font-size: 1rem;
    }

}
@media (min-width: 768px)and (max-width: 992px) {
    .history-name{
        font-size: 1.50rem;
    }
    .history-description{
        font-size: 1rem;
    }
    .history-skills{
        font-size: 80%;
    }
    .history-time{
        font-size: 1rem;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .history-name{
        font-size: 1.50rem;
    }

    .history-description{
        font-size: .9rem;
    }
    .history-skills{
        font-size: 70%;
    }
    .history-time{
        font-size: .75rem;
    }
}
@media (min-width: 380px) and (max-width: 480px){
    .history-name{
        font-size: 1.25rem;
    }

    .history-description{
        font-size: .75rem;
    }
    .history-skills{
        font-size: 60%;
    }
    .history-time{
        font-size: .75rem;
    }
}

@media (max-width: 380px){
    .history-name{
        font-size: 1rem;
    }

    .history-description{
        font-size: .75rem;
    }
    .history-skills{
        font-size: 50%;
    }
    .history-time{
        font-size: .75rem;
    }
}

// Proficiencies
.resume-proficiency-section{
    height: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.category-name{
    border: 2px solid theme-color-level('three', -5);
    border-radius: 10px;
}
.CircularProgressbar-path       { stroke:theme-color-level('three', -10); }
.CircularProgressbar-trail      { stroke:theme-color-level('three', -5); }
.CircularProgressbar-text       { fill:theme-color-level('three', -10); }

.percent-content-container{ 
    top:0;
}
.percent-content{ 
    top: 100%;
    transform: translateY(-50%);
    left: 0;
}

@media (min-width: 1200px) {
    .proficiency-icon{
        font-size: 3rem;
    }
    .proficiency-text{
        font-size: 2rem;
    }
    .proficiency-time{
        font-size: 1.25rem;
    }
    .proficiency-label {
        font-size: 1rem;
    }
    .percent-content{
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .proficiency-icon{
        font-size: 2.5rem;
    }
    .proficiency-text{
        font-size: 1.75rem;
    }
    .proficiency-time{
        font-size: 1rem;
    }
    .proficiency-label {
        font-size: 1rem;
    }
    .percent-content{
        font-size: 1.25rem;
    }
    .category-name{
        font-size: 2rem;
    }

}
@media (min-width: 768px)and (max-width: 992px) {
    .proficiency-icon{
        font-size: 2rem;
    }
    .proficiency-text{
        font-size: 1.5rem;
    }
    .proficiency-time{
        font-size: 1rem;
    }
    .proficiency-label {
        font-size: 1rem;
    }
    .percent-content{
        font-size: 1.05rem;
    }
    .category-name{
        font-size: 1.75rem;
    }
}

@media (min-width: 480px) and (max-width: 768px){

    .proficiency-icon{
        font-size: 1.75rem;
    }
    .proficiency-text{
        font-size: 1.5rem;
    }
    .proficiency-time{
        font-size: .85rem;
    }
    .proficiency-label {
        font-size: 1rem;
    }
    .percent-content{
        font-size: .9rem;
    }
    .category-name{
        font-size: 1.5rem;
    }
}
@media (min-width: 380px) and (max-width: 480px){
    .proficiency-icon{
        font-size: 1.5rem;
    }
    .proficiency-text{
        font-size: 1.25rem;
    }
    .proficiency-time{
        font-size: .75rem;
    }
    .proficiency-label {
        font-size: .85rem;
    }
    .percent-content{
        font-size: .75rem;
    }
    .category-name{
        font-size: 1.25rem;
    }
}

@media (max-width: 380px){
    .proficiency-icon{
        font-size: 1rem;
    }
    .proficiency-text{
        font-size: .9rem;
    }
    .proficiency-time{
        font-size: .65rem;
    }
    .proficiency-label {
        font-size: .75rem;
    }
    .percent-content{
        font-size: .7rem;
    }
    .category-name{
        font-size: 1rem;
    }
}

// Project Samples
.sample-image-container{

}

@media (min-width: 1200px) {

    .sample-image{
        width: 350px;
        min-width: 350px;
        max-width: 350px;
        height: 300px;
        min-height: 300px;
        max-height: 300px;

    }
    .slick-arrow:before{
        font-size: 40px;
    }
    .slick-arrow{
        width: 40px;
        height: 40px;
    }
    .slick-prev{
        left: -45px;
    }
    .slick-next{
        right: -45px;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    .sample-image{
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        height: 250px;
        min-height: 250px;
        max-height: 250px;

    }
    .slick-arrow:before{
        font-size: 30px;
    }
    .slick-arrow{
        width: 30px;
        height: 30px;
    }
    .slick-prev{
        left: -35px;
    }
    .slick-next{
        right: -35px;
    }
}
@media (min-width: 768px)and (max-width: 992px) {
    .sample-image{
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        height: 250px;
        min-height: 250px;
        max-height: 250px;

    }
    .slick-arrow:before{
        font-size: 30px;
    }
    .slick-arrow{
        width: 30px;
        height: 30px;
    }
    .slick-prev{
        left: -35px;
    }
    .slick-next{
        right: -35px;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .sample-image{
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        height: 175px;
        max-height: 175px;
        min-height: 175px;
    }
    .slick-arrow:before{
        font-size: 20px;
    }
    .slick-arrow{
        width: 20px;
        height: 20px;
    }
    .slick-prev{
        left: -5px;
    }
    .slick-next{
        right: -5px;
    }
}
@media (min-width: 380px) and (max-width: 480px){
    .sample-image{
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        height: 175px;
        max-height: 175px;
        min-height: 175px;
    }
    .slick-arrow:before{
        font-size: 20px;
    }
    .slick-arrow{
        width: 20px;
        height: 20px;
    }
    .slick-prev{
        left: -5px;
    }
    .slick-next{
        right: -5px;
    }
}
@media (max-width: 380px){
    .sample-image{
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        height: 125px;
        max-height: 125px;
        min-height: 125px;
    } 
    .slick-arrow:before{
        font-size: 20px;
    }
    .slick-arrow{
        width: 20px;
        height: 20px;
    }
    .slick-prev{
        left: -5px;
    }
    .slick-next{
        right: -5px;
    }
}
.sample-info-container{
    opacity: 0;
    transition: .5s ease;
    bottom: 0;
}
.sample-image-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.resume-project-samples-section:hover .sample-image-overlay {
    opacity: 1;
}
.resume-project-samples-section:hover .sample-info-container{opacity: 1;}


// Contact

.contact-link{
    color: theme-color-level('five', -5);
    text-decoration: none;
}
.contact-link:hover{
    color: theme-color-level('five', +5);
}
@media (min-width: 1200px) {
    .contact-name{
        font-size: 2.5rem;
    }
    .contact-value{
        font-size: 1.5rem;
    }
    .contact-link{
        font-size: 1.5rem;
    }
    .contact-icon{
        font-size: 2rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .contact-name{
        font-size: 2.25rem;
    }
    .contact-value{
        font-size: 1.5rem;
    }
    .contact-link{
        font-size: 1.5rem;
    }
    .contact-icon{
        font-size: 2rem;
    }

}
@media (min-width: 768px)and (max-width: 992px) {
    .contact-name{
        font-size: 2rem;
    }
    .contact-value{
        font-size: 1.3rem;
    }
    .contact-link{
        font-size: 1.3rem;
    }
    .contact-icon{
        font-size: 1.8rem;
    }
}
@media (min-width: 480px) and (max-width: 768px){

    .contact-name{
        font-size: 1.75rem;
    }
    .contact-value{
        font-size: 1.3rem;
    }
    .contact-link{
        font-size: 1.3rem;
    }
    .contact-icon{
        font-size: 1.8rem;
    }
}
@media (min-width: 380px) and (max-width: 480px){
    .contact-name{
        font-size: 1.5rem;
    }
    .contact-value{
        font-size: 1.2rem;
    }
    .contact-link{
        font-size: 1.2rem;
    }
    .contact-icon{
        font-size: 1.75rem;
    }
}

@media (max-width: 380px){
    .contact-name{
        font-size: 1.25rem;
    }
    .contact-value{
        font-size: 1.1rem;
    }
    .contact-link{
        font-size: 1.1rem;
    }
    .contact-icon{
        font-size: 1.5rem;
    }
}


/* appear - on page load */
/* Components */
.fade-appear {
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear 1000ms;
}

/* enter */
.fade-enter {
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear 1000ms;
}

/* exit */
.fade-exit {
    position: absolute;
    opacity: 1;
    z-index: 2;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}
.fade-exit-done {
    opacity: 0;
}



.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}
.fade-exit-done {
    opacity: 0;
}

/* slide enter */
.slide-enter {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    z-index: 1;
}
.slide-enter.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
    opacity: 1;
    transform: scale(1) translateY(0);

}
.slide-exit.slide-exit-active {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
    opacity: 0;
}