@import "baseTheme.scss";

@font-face {
font-family: "FontAwesomeRegular";
font-weight: normal;
font-style : normal;
       src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/webfonts/fa-regular-400.ttf") format("truetype");
}
@font-face {
font-family: "FontAwesomeBrands";
font-weight: normal;
font-style : normal;
       src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/webfonts/fa-brands-400.ttf") format("truetype");
}
@font-face {
font-family: "FontAwesomeSolid";
font-weight: normal;
font-style : normal;
       src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/webfonts/fa-solid-900.ttf") format("truetype");
} 

.fas{
    font-weight: normal !important;
     font-family: FontAwesomeSolid !important;
}
.fas:before{
    font-weight: normal !important;
    font-family: FontAwesomeSolid !important;
}
.fab{
    font-weight: normal !important;
     font-family: FontAwesomeBrands !important;
}
.fab:before{
     font-weight: normal !important;
    font-family: FontAwesomeBrands !important;
}
.far{
    font-weight: normal !important;
     font-family: FontAwesomeRegular !important;
}
.far:before{
     font-weight: normal !important;
    font-family: FontAwesomeRegular !important;
}


#pdfpersonalimage{
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
    border-radius: 50%;

}

.pdffullname{
    font-size: 40px;
    font-family: sans-serif;
    text-transform: capitalize;
}
#pdfcontactline{
    font-size: 11px;
    line-height: 15px;
    height: 15px;
}
.pdfcontactelement{
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    width: 33%;
}
.pdfcontacticon{
   line-height: 15px;
   display: inline;
   margin: 0px;
   padding: 0px;
   text-align: right;
   vertical-align: middle;
   height: 15px;
   
}
.pdfsummarytext{
    width: 90%;
}
#pdfmain{
    page-break-before: avoid;
    page-break-inside:auto;
}
.pdfleftcol{
    page-break-before: avoid;
    page-break-inside: auto;
    width: 66%;

}

.pdfprojectheadline{
    text-align: center;
    height: 35px;
}
.pdfprojectitle{
    line-height: 35px;
    vertical-align: middle;
}
.pdfprojectposition{
    line-height: 35px;
    vertical-align: middle;
}
.pdfprojectdescription{
   font-size: 11px;
   width: 90%;
   margin: 0 auto;
}
.pdfrightcol{
    width: 34%;
    position: absolute;
    top: 0px;
    right: 0px;
    vertical-align: top;
    page-break-before: avoid;
    page-break-inside: auto;
}

.pdfskills{
    vertical-align: top;
        
}
.pdfproficiencylabel{
    text-align: left;
}

.pdftopskillcontainer{
    height: 15px;
}
.pdftopskilltitle{
    line-height: 15px;
    left: 0px;
}
.pdftopskillicon{
    line-height: 15px;
    right:0px;
}
.pdftopskillmaster{
    height: 15px;
    line-height: 15px;
    float: right;
    font-size: 5px;
}
.pdfweblinkurl{
    font-size: 11px;
}