
{{ form_row(proficiencies.title) }}
<div class="row">
    <div class="col">
        {{ form_row(proficiencies.years) }}
    </div>
    <div class="col">
        {{ form_row(proficiencies.percent) }}
    </div>
</div>
