
{{ form_row(samples.title) }}
{{ form_row(samples.blurb) }}
<div class="row">
    <div class="col">
        {{ form_row(samples.link) }}
    </div>
    <div class="col">
        {{ form_row(samples.project_image) }}
    </div>
</div>

